<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379935865249-brplk9ugdousdbcvs041p5346pjgltu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379935865249-brplk9ugdousdbcvs041p5346pjgltu7</string>
	<key>API_KEY</key>
	<string>AIzaSyB1AJBQdeZGj_5VDcb5q1XyWQcSewe1z3U</string>
	<key>GCM_SENDER_ID</key>
	<string>379935865249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qeran</string>
	<key>PROJECT_ID</key>
	<string>qeran-project</string>
	<key>STORAGE_BUCKET</key>
	<string>qeran-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379935865249:ios:83e039797112df220873e0</string>
</dict>
</plist>